@font-face {
  font-family: 'Grtsk Giga';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/GrtskGiga-Regular.woff2') format('woff2'),
    url('../fonts/GrtskGiga-Regular.woff') format('woff'),
    url('../fonts/GrtskGiga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Grtsk Giga';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/GrtskGiga-Semibold.woff2') format('woff2'),
    url('../fonts/GrtskGiga-Semibold.woff') format('woff'),
    url('../fonts/GrtskGiga-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Grtsk Giga';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/GrtskGiga-Bold.woff2') format('woff2'),
    url('../fonts/GrtskGiga-Bold.woff') format('woff'),
    url('../fonts/GrtskGiga-Bold.ttf') format('truetype');
}
